@charset "utf-8";
/* CSS Document */

body{font-family: Helvetica; "sans-serif";}

/* HEADER */

header{background-image: url(../images/the-flatiron-building.png);
	text-align: center;
	color: white;}

h1{font-size: 70px;}

nav li,a{
list-style-type: none;
color: white;
font-size: 18px;
margin: 15px;}

/* PROCESS */

.process{text-align: center}

.process h2{font-size: 32px;
font-weight: bold;}

.process p{font-size: 14px;}
