@charset "utf-8";
/* CSS Document */

body{font-family: Helvetica; "sans-serif";
text-align: center;}

/* HEADER */

header{background-image: url(../images/the-flatiron-building.png);
	text-align: center;
	color: white;}

h1{font-size: 70px;}

h2{font-size: 32px;
font-weight: bold; 
text-align: center;}

h3{font-size: 23px;
font-weight: bold;
text-align: center;}


nav ul,li,a{
list-style-type: none;
color: white;
font-size: 18px;
margin: 15px;}

p{font-size: 14px;}

.aboutus h2{background-image: url(../images/the-flatiron-building.png);
color: white;
font-size: 23px;
font-weight: bold;
text-align: center;}

footer{background-color: dimgray;
	text-align: left;
}

footer li,a{display: inline;
text-align: left;
	margin: 0px;
}
.copy{font-size: 11px;}
